body {
    color:rgb(255, 0, 0);
    background-color: rgb(38, 38, 38);
    font-family: Arial
} 
ul {
display: flex;
justify-content: space-between;
list-style-type: none;
align-items:  center;  
padding: 18px; 
}
a {
    color: rgb(255, 0, 0);
    text-decoration: none; 
}
img{
    text-align: center;
    width: 400px;
    height: 600px;
    padding: 10px 40px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    
}
nav a:hover {
    color: rgb(255, 255, 255);
}
h4{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
